spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/board_db?characterEncoding=UTF-8
    username: board_user
    password: board_pass
    driver-class-name: org.postgresql.Driver

  jackson:
    property-naming-strategy: SNAKE_CASE

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

jwt:
  issuer: board-api
  secret: "bc3d98fbd0b236bd1ffaaf195eaf25989e221251b2fc206f86b163a8ffeef90ae12327c792a0b3cde1f1da5e5811f4c26875560a3f5d5dc24b07e795098e0334"
  access-exp-seconds: 900            # 15분
  refresh-exp-seconds: 1209600       # 14일

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
